* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
    min-height: 100vh;
    display: grid;
    text-align: center;
    
}
img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 1.5rem;
    margin-left:20px;
}
img:hover {
    cursor: pointer;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
     
}
div p {
    text-align: center;
    
}