* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: ivory;
    min-height: 100vh;
    display: grid;
    text-align: center;
    align-items: center;
    
}
img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 1.5rem;
    margin-left:20px;
}
img:hover {
    cursor: pointer;
    transition: transform .2s;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    width: 200px;
    
}

#container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
     
}
div p {
    text-align: center;
    }
h1 {
    margin-bottom: 20px;
    background-color: bisque;
}